<a href="https://colab.research.google.com/github/Chaturya3125/DAP/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
var1 = 'Hello World!'
var2 = "Python Programming"
print(var1," ",var2)

Hello World!   Python Programming

In [2]:
var1 = 'Hello World!'
var2 = "Python Programming"

print (var1[0])



print (var2[1:5])

H
ytho

In [3]:
var1 = 'Hello World!'
print ("Updated String :- ", var1[0:6] + 'Shabnam')

Updated String :-  Hello Shabnam

In [4]:
str1 = input("Please Enter Your Own String : ")

str2 = str1
str3 = str1[:]
str4 = str1[2:6]

print("The Final String : Str2  = ", str2)
print("The Final String : Str3  = = ", str3)
print("The Final String : Str4  = = ", str4)

Please Enter Your Own String : chatu
The Final String : Str2  =  chatu
The Final String : Str3  = =  chatu
The Final String : Str4  = =  atu

In [5]:
#Python String capitalize() method returns a copy of the string with only its first character capitalized.
str = "this is string example....wow!!!";
print ("str.capitalize() : ", str.capitalize())

str.capitalize() :  This is string example....wow!!!

In [6]:
#center() returns centered in a string of length width. Padding is done using the specified fillchar. Default filler is a space.


str = "this is string example....wow!!!"
print ("str.center(40, 'a') : ", str.center(40, '*'))

str.center(40, 'a') :  ****this is string example....wow!!!****

In [7]:
#count() returns the number of occurrences of substring sub in the range [start, end]. 

#str.count(sub, start= 0,end=len(string))

str = "this is string example....wow!!!";

sub = "i";
print ("str.count(sub, 4, 40) : ", str.count(sub, 4, 40))
sub = "wow";
print ("str.count(sub) : ", str.count(sub))

str.count(sub, 4, 40) :  2
str.count(sub) :  1

In [8]:
#find() determines if string str occurs in string, or in a substring of string if starting index beg and ending index end are given.

#str.find(str, beg=0, end=len(string))

str1 = "this is string example....wow!!!";
str2 = "is";

print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

2
-1
-1

In [9]:
#index() determines if string str occurs in string or in a substring of string if starting index beg and ending index end are given.

str1 = "this is string example....wow!!!";
str2 = "exam";

print (str1.index(str2))
print (str1.index(str2, 10,32))

15
15

In [10]:
#isalnum() checks whether the string consists of alphanumeric characters.

str = "this2009";  # No space in this string
print (str.isalnum())

str = "this is string example....wow!!!";
print (str.isalnum())

True
False

In [11]:
str = "ShabnamSharma";  # No space & digit in this string
print (str.isalpha())

str = "this is string example....wow!!!";
print (str.isalpha())

True
False

In [12]:
str = "123456";  # Only digit in this string
print (str.isdigit())

str = "this is string example....wow!!!";
print (str.isdigit())

True
False

In [13]:
str = "THIS is string example....wow!!!"; 
print (str.islower())

str = "this is string example....wow!!!";
print (str.islower())

False
True

In [14]:
str = "this2009";  
print (str.isnumeric())

str = "23443434";
print (str.isnumeric())

False
True

In [15]:
str = "  "; 
print (str.isspace())

str = "This is string example....wow!!!";
print (str.isspace())

True
False

In [16]:
str = "This Is String Example...Wow!!!";
print (str.istitle())

str = "This is string example....wow!!!";
print (str.istitle())

True
False

In [17]:

str = "THIS IS STRING EXAMPLE....WOW!!!"; 
print (str.isupper())

str = "THIS is string example....wow!!!";
print (str.isupper())

True
False

In [18]:
#join() returns a string in which the string elements of sequence have been joined by str separator.

s = "  *  *  ";
seq = ("abc", "bttt", "cqweqe"); # This is sequence of strings.
print (s.join( seq ))

abc  *  *  bttt  *  *  cqweqe

In [19]:
str = "this is string example....wow!!!";
print ("Length of the string: ", len(str))

Length of the string:  32

In [20]:
#lstrip() returns a copy of the string in which all chars have been stripped from the beginning of the string (default whitespace characters)

str = "     this is string example....wow!!!     ";
print (str.lstrip())
str = "88888888this is string example....wow!!!999999";
print (str.lstrip('8'))
print (str.rstrip('9'))

this is string example....wow!!!
this is string example....wow!!!999999
88888888this is string example....wow!!!

In [21]:
str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.lower())

this is string example....wow!!!

In [22]:
#returns largest character
str = "check....wow!!!";
print ("Max character: " + max(str))

str = "shabnam....!!!";
print ("Max character: " + max(str))

Max character: w
Max character: s

In [23]:
str = "this-is-real-string-example....wow!!!";
print ("Min character: " + min(str))

str = "this-is-a-string-example....wow!!!";
print ("Min character: " + min(str))

Min character: !
Min character: !

In [24]:
#str.replace(old, new[, max])

str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [25]:
str = "this is string example....wow!!!";
print (str.startswith( 'this' ))
print (str.startswith( 'is', 2, 4 ))
print (str.startswith( 'this', 2, 4 ))

True
True
False

In [26]:
str = "this is string example....wow!!!";
print ("str.capitalize() : ", str.upper())

str.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

In [27]:
str = "this is string example....wow!!!";
print (str.swapcase())

str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!